.container {
  width: 260px;
  height: 4rem;
  border: 0;
  border-radius: 4rem;
  background: var(--yellow-500);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  color: var(--gray-900);
  font-weight: bold;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}